node-red/20200311_flows.json
[
    {
        "id": "1e7cfa01.89be56",
        "type": "tab",
        "label": "Switches",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a0a4ed6.82ae31",
        "type": "tab",
        "label": "Light Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c49bc2a.868a94",
        "type": "tab",
        "label": "Temperature control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f0f663d9.83c3a",
        "type": "tab",
        "label": "Button/State colour",
        "disabled": false,
        "info": ""
    },
    {
        "id": "59c98161.dbd71",
        "type": "tab",
        "label": "Facial Recognition",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4edc7ba8.c71394",
        "type": "tab",
        "label": "Bluetooth",
        "disabled": false,
        "info": ""
    },
    {
        "id": "219e15b3.5d2dfa",
        "type": "tab",
        "label": "Email Img",
        "disabled": false,
        "info": ""
    },
    {
        "id": "65a1f52f.504d5c",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ec165177.816",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "feecac17.0ebe1",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "none",
            "dateFormat": "03/03/2020",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7e450fc4.4295d",
        "type": "ui_group",
        "z": "",
        "name": "Switches",
        "tab": "5d7fdfeb.6f6a5",
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "c09469b0.03eed8",
        "type": "ui_group",
        "z": "",
        "name": "Analog",
        "tab": "ec165177.816",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5d7fdfeb.6f6a5",
        "type": "ui_tab",
        "z": "",
        "name": "LEDs",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5c731c27.183504",
        "type": "mqtt-broker",
        "z": "",
        "name": "local MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "14ed5354.55018d",
        "type": "ui_tab",
        "z": "",
        "name": "Temperature Control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "afcd632b.6bee5",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "14ed5354.55018d",
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "b17ec920.87c668",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "ec165177.816",
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "10a75e88.264b31",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "ec165177.816",
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e28d2f4c.da161",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "ec165177.816",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4702bbd2.e5a1e4",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "14ed5354.55018d",
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "327f64ab.15570c",
        "type": "ui_group",
        "z": "",
        "name": "Light Control",
        "tab": "ec165177.816",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "71a758f1.dcbbb8",
        "type": "ui_group",
        "z": "f0f663d9.83c3a",
        "name": "Click",
        "tab": "f5e5c6c3.b7dc58",
        "order": 1,
        "disp": true,
        "width": "5"
    },
    {
        "id": "f5e5c6c3.b7dc58",
        "type": "ui_tab",
        "z": "f0f663d9.83c3a",
        "name": "Home",
        "icon": "link",
        "order": 1
    },
    {
        "id": "cf6ae3b0.72a9e",
        "type": "face-api-compute",
        "z": "",
        "name": "face-api-compute",
        "childHost": true,
        "recognitionType": "SSD",
        "multipleFaces": "Single Face",
        "confidence": "50",
        "inputSize": "416",
        "landmarks": false,
        "expressions": false,
        "ageGender": false,
        "recognition": true,
        "labelName": "known",
        "recognitionMetric": "Mean Squared Error",
        "recognitionConfidence": "",
        "file": ""
    },
    {
        "id": "2e7786c1.ecb74a",
        "type": "face-api-compute",
        "z": "",
        "name": "TBB Faces",
        "childHost": true,
        "recognitionType": "SSD",
        "multipleFaces": "Multiple Faces",
        "confidence": "50",
        "inputSize": "416",
        "landmarks": true,
        "expressions": true,
        "ageGender": true,
        "recognition": false,
        "labelName": "known",
        "file": ""
    },
    {
        "id": "724bfae.3b84404",
        "type": "face-api-compute",
        "z": "",
        "name": "TBB Faces",
        "childHost": true,
        "recognitionType": "SSD",
        "multipleFaces": "Multiple Faces",
        "confidence": "50",
        "inputSize": "416",
        "landmarks": true,
        "expressions": true,
        "ageGender": true,
        "recognition": false,
        "labelName": "known",
        "file": ""
    },
    {
        "id": "6595a9d.6227658",
        "type": "face-api-compute",
        "z": "",
        "name": "face-api-compute",
        "childHost": true,
        "recognitionType": "SSD",
        "multipleFaces": "Single Face",
        "confidence": "50",
        "inputSize": "416",
        "landmarks": false,
        "expressions": false,
        "ageGender": false,
        "recognition": true,
        "labelName": "known",
        "recognitionMetric": "Mean Squared Error",
        "recognitionConfidence": "",
        "file": ""
    },
    {
        "id": "9f21ee0a.10518",
        "type": "face-api-compute",
        "z": "",
        "name": "TBB Faces",
        "childHost": true,
        "recognitionType": "SSD",
        "multipleFaces": "Multiple Faces",
        "confidence": "50",
        "inputSize": "416",
        "landmarks": true,
        "expressions": true,
        "ageGender": true,
        "recognition": false,
        "labelName": "known",
        "file": ""
    },
    {
        "id": "27451ca2.674b24",
        "type": "ui_switch",
        "z": "1e7cfa01.89be56",
        "name": "",
        "label": "Red LED Button",
        "tooltip": "",
        "group": "7e450fc4.4295d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "c7a6eb5e.d645a8"
            ]
        ],
        "icon": "font-awesome/fa-circle",
        "info": "<h1>TEST H1</h1>"
    },
    {
        "id": "c7a6eb5e.d645a8",
        "type": "rpi-gpio out",
        "z": "1e7cfa01.89be56",
        "name": "Red LED",
        "pin": "32",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "71a7b1dd.0614a",
        "type": "ui_switch",
        "z": "1e7cfa01.89be56",
        "name": "",
        "label": "Green LED Button",
        "tooltip": "",
        "group": "7e450fc4.4295d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 170,
        "y": 129,
        "wires": [
            [
                "9a5c1567.e89a18"
            ]
        ]
    },
    {
        "id": "9a5c1567.e89a18",
        "type": "rpi-gpio out",
        "z": "1e7cfa01.89be56",
        "name": "Green LED",
        "pin": "36",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 430,
        "y": 129,
        "wires": []
    },
    {
        "id": "79a5aad0.64a9d4",
        "type": "ui_switch",
        "z": "1e7cfa01.89be56",
        "name": "",
        "label": "Blue LED Button",
        "tooltip": "",
        "group": "7e450fc4.4295d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "3172fa5d.6e6006"
            ]
        ]
    },
    {
        "id": "3172fa5d.6e6006",
        "type": "rpi-gpio out",
        "z": "1e7cfa01.89be56",
        "name": "Blue LED",
        "pin": "38",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "d03b38da.a99cd8",
        "type": "ui_ui_control",
        "z": "1e7cfa01.89be56",
        "name": "Tab to Analog",
        "events": "change",
        "x": 180,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "731f7861.bda288",
        "type": "mqtt out",
        "z": "a0a4ed6.82ae31",
        "name": "",
        "topic": "cmnd/tasmota4683/POWER",
        "qos": "",
        "retain": "",
        "broker": "5c731c27.183504",
        "x": 1100,
        "y": 80,
        "wires": []
    },
    {
        "id": "987534bf.6d66d8",
        "type": "inject",
        "z": "a0a4ed6.82ae31",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 80,
        "wires": [
            [
                "658fc32a.f41a1c"
            ]
        ]
    },
    {
        "id": "658fc32a.f41a1c",
        "type": "function",
        "z": "a0a4ed6.82ae31",
        "name": "toggle",
        "func": "if(msg.payload){\n msg.payload = \"TOGGLE\"\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 768,
        "y": 100,
        "wires": [
            [
                "731f7861.bda288",
                "b76c8284.45901"
            ]
        ]
    },
    {
        "id": "b76c8284.45901",
        "type": "debug",
        "z": "a0a4ed6.82ae31",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050,
        "y": 140,
        "wires": []
    },
    {
        "id": "fe63781a.ab7be8",
        "type": "mqtt in",
        "z": "a0a4ed6.82ae31",
        "name": "",
        "topic": "stat/tasmota4683/RESULT",
        "qos": "2",
        "datatype": "json",
        "broker": "5c731c27.183504",
        "x": 629,
        "y": 222,
        "wires": [
            [
                "33bf2ce3.3c3fa4"
            ]
        ]
    },
    {
        "id": "33bf2ce3.3c3fa4",
        "type": "function",
        "z": "a0a4ed6.82ae31",
        "name": "toggle",
        "func": "\nif(msg.payload.POWER == \"ON\"){\n    msg.payload = 1\n} else {\n    msg.payload = 0\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 839,
        "y": 222,
        "wires": [
            [
                "d5172f28.f0d3f"
            ]
        ]
    },
    {
        "id": "d5172f28.f0d3f",
        "type": "debug",
        "z": "a0a4ed6.82ae31",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1059,
        "y": 222,
        "wires": []
    },
    {
        "id": "df07c93d.8f0158",
        "type": "rpi-dht22",
        "z": "4c49bc2a.868a94",
        "name": "DHT11",
        "topic": "rpi-dht22",
        "dht": "11",
        "pintype": "0",
        "pin": "26",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "2f69905d.eda85",
                "3a734cdc.1b0aa4",
                "e0158bc8.36dbe8"
            ]
        ]
    },
    {
        "id": "2f69905d.eda85",
        "type": "function",
        "z": "4c49bc2a.868a94",
        "name": "temperature",
        "func": "msg.payload = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "837e407f.f192d",
                "469940a1.41396",
                "cf9fe06d.2d8a2"
            ]
        ]
    },
    {
        "id": "837e407f.f192d",
        "type": "debug",
        "z": "4c49bc2a.868a94",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 870,
        "y": 240,
        "wires": []
    },
    {
        "id": "469940a1.41396",
        "type": "ui_chart",
        "z": "4c49bc2a.868a94",
        "name": "",
        "group": "afcd632b.6bee5",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "Temperature history",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#f35152",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 900,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "582324ca.bbf99c",
        "type": "inject",
        "z": "4c49bc2a.868a94",
        "name": "tempLoggingTrigger",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "df07c93d.8f0158"
            ]
        ]
    },
    {
        "id": "3a734cdc.1b0aa4",
        "type": "function",
        "z": "4c49bc2a.868a94",
        "name": "humidity",
        "func": "msg.payload = msg.humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 320,
        "wires": [
            [
                "52decbe2.1de184",
                "219e674d.b571b8",
                "c4e074a7.bec938"
            ]
        ]
    },
    {
        "id": "52decbe2.1de184",
        "type": "debug",
        "z": "4c49bc2a.868a94",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "cf9fe06d.2d8a2",
        "type": "ui_gauge",
        "z": "4c49bc2a.868a94",
        "name": "",
        "group": "b17ec920.87c668",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "c",
        "format": "{{value}}",
        "min": 0,
        "max": "45",
        "colors": [
            "#2a0cf2",
            "#e6e600",
            "#f30505"
        ],
        "seg1": "0",
        "seg2": "30",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "219e674d.b571b8",
        "type": "ui_gauge",
        "z": "4c49bc2a.868a94",
        "name": "",
        "group": "10a75e88.264b31",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#2a0cf2",
            "#e6e600",
            "#f30505"
        ],
        "seg1": "0",
        "seg2": "50",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "c4e074a7.bec938",
        "type": "ui_chart",
        "z": "4c49bc2a.868a94",
        "name": "",
        "group": "4702bbd2.e5a1e4",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "Humidity history",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#f1790f",
            "#2ca02c",
            "#98df8a",
            "#f35152",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 880,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "90478561.33ea48",
        "type": "mqtt out",
        "z": "a0a4ed6.82ae31",
        "name": "",
        "topic": "cmnd/tasmota1836/POWER",
        "qos": "",
        "retain": "",
        "broker": "5c731c27.183504",
        "x": 1108,
        "y": 320,
        "wires": []
    },
    {
        "id": "411052c9.90bc3c",
        "type": "inject",
        "z": "a0a4ed6.82ae31",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "54118f0b.384ea"
            ]
        ]
    },
    {
        "id": "54118f0b.384ea",
        "type": "function",
        "z": "a0a4ed6.82ae31",
        "name": "toggle",
        "func": "if(msg.payload){\n msg.payload = \"TOGGLE\"\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 768,
        "y": 320,
        "wires": [
            [
                "90478561.33ea48",
                "9331a50c.cdb308"
            ]
        ]
    },
    {
        "id": "9331a50c.cdb308",
        "type": "debug",
        "z": "a0a4ed6.82ae31",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1058,
        "y": 400,
        "wires": []
    },
    {
        "id": "2f0a93d1.26aa2c",
        "type": "mqtt in",
        "z": "a0a4ed6.82ae31",
        "name": "",
        "topic": "stat/tasmota1836/RESULT",
        "qos": "2",
        "datatype": "json",
        "broker": "5c731c27.183504",
        "x": 629,
        "y": 442,
        "wires": [
            [
                "b0ac6019.7d654"
            ]
        ]
    },
    {
        "id": "b0ac6019.7d654",
        "type": "function",
        "z": "a0a4ed6.82ae31",
        "name": "toggle",
        "func": "\nif(msg.payload.POWER == \"ON\"){\n    msg.payload = 1\n} else {\n    msg.payload = 0\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 839,
        "y": 442,
        "wires": [
            [
                "1c79ef08.a22c71"
            ]
        ]
    },
    {
        "id": "1c79ef08.a22c71",
        "type": "debug",
        "z": "a0a4ed6.82ae31",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1059,
        "y": 442,
        "wires": []
    },
    {
        "id": "99ab6244.1b28b",
        "type": "mqtt out",
        "z": "a0a4ed6.82ae31",
        "name": "",
        "topic": "cmnd/tasmota3894/POWER",
        "qos": "",
        "retain": "",
        "broker": "5c731c27.183504",
        "x": 1108,
        "y": 540,
        "wires": []
    },
    {
        "id": "574f0e9d.40208",
        "type": "inject",
        "z": "a0a4ed6.82ae31",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 520,
        "wires": [
            [
                "4dc5995.6bc7f68"
            ]
        ]
    },
    {
        "id": "4dc5995.6bc7f68",
        "type": "function",
        "z": "a0a4ed6.82ae31",
        "name": "toggle",
        "func": "if(msg.payload){\n msg.payload = \"TOGGLE\"\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 768,
        "y": 540,
        "wires": [
            [
                "99ab6244.1b28b",
                "576da00a.a64ff"
            ]
        ]
    },
    {
        "id": "576da00a.a64ff",
        "type": "debug",
        "z": "a0a4ed6.82ae31",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1058,
        "y": 620,
        "wires": []
    },
    {
        "id": "1e31bc9b.e2a7d3",
        "type": "mqtt in",
        "z": "a0a4ed6.82ae31",
        "name": "",
        "topic": "stat/tasmota3894/RESULT",
        "qos": "2",
        "datatype": "json",
        "broker": "5c731c27.183504",
        "x": 629,
        "y": 662,
        "wires": [
            [
                "f1ee3371.72286"
            ]
        ]
    },
    {
        "id": "f1ee3371.72286",
        "type": "function",
        "z": "a0a4ed6.82ae31",
        "name": "toggle",
        "func": "\nif(msg.payload.POWER == \"ON\"){\n    msg.payload = 1\n} else {\n    msg.payload = 0\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 839,
        "y": 662,
        "wires": [
            [
                "388817af.775708"
            ]
        ]
    },
    {
        "id": "388817af.775708",
        "type": "debug",
        "z": "a0a4ed6.82ae31",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1059,
        "y": 662,
        "wires": []
    },
    {
        "id": "49640e2c.f2f79",
        "type": "ui_button",
        "z": "a0a4ed6.82ae31",
        "name": "Lounge Room",
        "group": "327f64ab.15570c",
        "order": 0,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "Lounge Room",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 440,
        "y": 120,
        "wires": [
            [
                "658fc32a.f41a1c"
            ]
        ]
    },
    {
        "id": "cacc5af4.ba4e38",
        "type": "ui_button",
        "z": "a0a4ed6.82ae31",
        "name": "Kitchen",
        "group": "327f64ab.15570c",
        "order": 0,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "Kitchen",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 460,
        "y": 340,
        "wires": [
            [
                "54118f0b.384ea"
            ]
        ]
    },
    {
        "id": "80e31243.11c4c",
        "type": "ui_button",
        "z": "a0a4ed6.82ae31",
        "name": "Bedroom",
        "group": "327f64ab.15570c",
        "order": 0,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "Bedroom",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 460,
        "y": 560,
        "wires": [
            [
                "4dc5995.6bc7f68"
            ]
        ]
    },
    {
        "id": "ddc9fea4.90c9d",
        "type": "ui_button",
        "z": "f0f663d9.83c3a",
        "name": "",
        "group": "7e450fc4.4295d",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "{{payload}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "press",
        "payloadType": "str",
        "topic": "",
        "x": 230,
        "y": 240,
        "wires": [
            [
                "d3d8c096.9a619"
            ]
        ]
    },
    {
        "id": "45266f7c.e0c6b",
        "type": "change",
        "z": "f0f663d9.83c3a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "<i class=\"fa fa-rotate-90 fa-folder-open-o\"></i> OPEN",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "ddc9fea4.90c9d"
            ]
        ]
    },
    {
        "id": "d3d8c096.9a619",
        "type": "function",
        "z": "f0f663d9.83c3a",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "45266f7c.e0c6b"
            ],
            [
                "29697f80.05ce3"
            ]
        ]
    },
    {
        "id": "29697f80.05ce3",
        "type": "change",
        "z": "f0f663d9.83c3a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "<i class=\"fa fa-rotate-90 fa-folder-o\"></i> Closed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 340,
        "wires": [
            [
                "ddc9fea4.90c9d"
            ]
        ]
    },
    {
        "id": "e0158bc8.36dbe8",
        "type": "debug",
        "z": "4c49bc2a.868a94",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "ea914e4f.a25be",
        "type": "function",
        "z": "59c98161.dbd71",
        "name": "",
        "func": "msg.headers = {\n    \"Content-Type\": \"application/octet-stream\",\n    \"Ocp-Apim-Subscription-Key\": \"be6503ba630a4e3db53f9f3f350c6c5c\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "b9ed832a.a8ac9",
        "type": "camerapi-takephoto",
        "z": "59c98161.dbd71",
        "filemode": "2",
        "filename": "",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "10",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "1",
        "awb": "auto",
        "name": "",
        "x": 420,
        "y": 200,
        "wires": [
            [
                "42e2a5a7.87d7ec"
            ]
        ]
    },
    {
        "id": "124960a4.8b08af",
        "type": "inject",
        "z": "59c98161.dbd71",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "b9ed832a.a8ac9"
            ]
        ]
    },
    {
        "id": "394cbc88.1bc4d4",
        "type": "debug",
        "z": "59c98161.dbd71",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1030,
        "y": 200,
        "wires": []
    },
    {
        "id": "31b299e7.aa24e6",
        "type": "file in",
        "z": "59c98161.dbd71",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "binary",
        "x": 710,
        "y": 100,
        "wires": [
            [
                "ea914e4f.a25be",
                "301c549a.2afd0c"
            ]
        ]
    },
    {
        "id": "42e2a5a7.87d7ec",
        "type": "function",
        "z": "59c98161.dbd71",
        "name": "",
        "func": "msg.filename = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "31b299e7.aa24e6"
            ]
        ]
    },
    {
        "id": "578e8acf.89f544",
        "type": "http request",
        "z": "59c98161.dbd71",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "southeastasia.api.cognitive.microsoft.com/face/v1.0/detect?returnFaceId=true&returnFaceLandmarks=false&recognitionModel=recognition_01&returnRecognitionModel=false&detectionModel=detection_01",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 850,
        "y": 200,
        "wires": [
            [
                "394cbc88.1bc4d4"
            ]
        ]
    },
    {
        "id": "a08fa359.da31b",
        "type": "debug",
        "z": "59c98161.dbd71",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "aa321045.cbff7",
        "type": "exec",
        "z": "4edc7ba8.c71394",
        "command": "/usr/bin/hcitool",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "oldrc": false,
        "name": "bt presence",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "3b872ef6.18b7d2"
            ],
            [],
            []
        ]
    },
    {
        "id": "3b872ef6.18b7d2",
        "type": "function",
        "z": "4edc7ba8.c71394",
        "name": "nonempty",
        "func": "msg.payload = msg.payload ? 1 : 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 120,
        "wires": [
            [
                "42203834.8acd78"
            ]
        ]
    },
    {
        "id": "60414de4.8835b4",
        "type": "inject",
        "z": "4edc7ba8.c71394",
        "name": "cellphone",
        "topic": "",
        "payload": "name 60:AB:67:79:7E:01",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 120,
        "wires": [
            [
                "aa321045.cbff7"
            ]
        ]
    },
    {
        "id": "42203834.8acd78",
        "type": "debug",
        "z": "4edc7ba8.c71394",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "ac8f7e15.56ead",
        "type": "e-mail",
        "z": "219e15b3.5d2dfa",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "philippe.tome4@gmail.com",
        "dname": "",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "b382ae61.5183d",
        "type": "camerapi-takephoto",
        "z": "219e15b3.5d2dfa",
        "filemode": "2",
        "filename": "",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "6",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "",
        "x": 360,
        "y": 340,
        "wires": [
            [
                "17784779.86d079"
            ]
        ]
    },
    {
        "id": "ecca1f52.6296",
        "type": "inject",
        "z": "219e15b3.5d2dfa",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "b382ae61.5183d"
            ]
        ]
    },
    {
        "id": "d479f319.2ea6e",
        "type": "inject",
        "z": "219e15b3.5d2dfa",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "ac8f7e15.56ead"
            ]
        ]
    },
    {
        "id": "20f76adb.e80126",
        "type": "camerapi-takephoto",
        "z": "219e15b3.5d2dfa",
        "filemode": "2",
        "filename": "",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "10",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "",
        "x": 260,
        "y": 220,
        "wires": [
            [
                "ac8f7e15.56ead"
            ]
        ]
    },
    {
        "id": "e3b18f9c.f9c7c",
        "type": "inject",
        "z": "219e15b3.5d2dfa",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 220,
        "wires": [
            [
                "20f76adb.e80126"
            ]
        ]
    },
    {
        "id": "18c9e938.8a4a17",
        "type": "debug",
        "z": "219e15b3.5d2dfa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "301c549a.2afd0c",
        "type": "debug",
        "z": "59c98161.dbd71",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 40,
        "wires": []
    },
    {
        "id": "17784779.86d079",
        "type": "function",
        "z": "219e15b3.5d2dfa",
        "name": "",
        "func": "var fs = global.get('fs');\n// // msg.filename = msg.payload;\nmsg.attachments = [{\n    filename: \"doorCamera.jpg\",\n    content: fs.readFileSync(msg.payload),\n}];\nmsg.topic= \"Door camera\";\n// fs.readFileSync(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 300,
        "wires": [
            [
                "ee8ab59d.c71718",
                "18c9e938.8a4a17"
            ]
        ]
    },
    {
        "id": "ee8ab59d.c71718",
        "type": "e-mail",
        "z": "219e15b3.5d2dfa",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "philippe.tome4@gmail.com",
        "dname": "",
        "x": 980,
        "y": 220,
        "wires": []
    },
    {
        "id": "5247a2f5.4d1a5c",
        "type": "inject",
        "z": "65a1f52f.504d5c",
        "name": "Input",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "50d7eff6.7f045"
            ]
        ]
    },
    {
        "id": "c511c011.2ac2d",
        "type": "image",
        "z": "65a1f52f.504d5c",
        "name": "Labeled Image",
        "width": "640",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "1e0b0927.67a967",
        "type": "change",
        "z": "65a1f52f.504d5c",
        "name": "Set Payload to Image",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"TBB Faces\"].image",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 200,
        "wires": [
            [
                "c511c011.2ac2d"
            ]
        ]
    },
    {
        "id": "b43b5dc5.1c198",
        "type": "debug",
        "z": "65a1f52f.504d5c",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "50d7eff6.7f045",
        "type": "http request",
        "z": "65a1f52f.504d5c",
        "name": "Get Image",
        "method": "GET",
        "ret": "bin",
        "paytoqs": false,
        "url": "https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fmaddieberg%2Ffiles%2F2017%2F09%2Fbigbangtheorytv_s05e01_05-_h_2017.jpg",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "aa0a1314.38f64"
            ]
        ]
    },
    {
        "id": "aa0a1314.38f64",
        "type": "face-api-input",
        "z": "65a1f52f.504d5c",
        "name": "Find Faces",
        "numNodes": 1,
        "computeNode1": "9f21ee0a.10518",
        "computeNode2": "",
        "computeNode3": "",
        "computeNode4": "",
        "computeNode5": "",
        "computeNode6": "",
        "computeNode7": "",
        "computeNode8": "",
        "computeNode9": "",
        "computeNode10": "",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "b43b5dc5.1c198",
                "1e0b0927.67a967"
            ]
        ]
    }
]