node-red/20200313_flows.json
[
  {
    "id": "a0a4ed6.82ae31",
    "type": "tab",
    "label": "Light Control",
    "disabled": false,
    "info": ""
  },
  {
    "id": "4c49bc2a.868a94",
    "type": "tab",
    "label": "Temperature control",
    "disabled": false,
    "info": ""
  },
  {
    "id": "4edc7ba8.c71394",
    "type": "tab",
    "label": "isHome",
    "disabled": false,
    "info": ""
  },
  {
    "id": "219e15b3.5d2dfa",
    "type": "tab",
    "label": "Email Img",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ec165177.816",
    "type": "ui_tab",
    "z": "",
    "name": "Home",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "feecac17.0ebe1",
    "type": "ui_base",
    "theme": {
      "name": "theme-dark",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#097479",
          "value": "#097479",
          "edited": false
        },
        "page-titlebar-backgroundColor": {
          "value": "#097479",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#111111",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#000000",
          "edited": false
        },
        "group-textColor": {
          "value": "#0eb8c0",
          "edited": false
        },
        "group-borderColor": {
          "value": "#555555",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#333333",
          "edited": false
        },
        "widget-textColor": {
          "value": "#eeeeee",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#097479",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#333333",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      },
      "angularTheme": {
        "primary": "indigo",
        "accents": "blue",
        "warn": "red",
        "background": "grey"
      }
    },
    "site": {
      "name": "Node-RED Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "true",
      "lockMenu": "false",
      "allowTempTheme": "none",
      "dateFormat": "03/03/2020",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "7e450fc4.4295d",
    "type": "ui_group",
    "z": "",
    "name": "Switches",
    "tab": "5d7fdfeb.6f6a5",
    "disp": true,
    "width": 6,
    "collapse": false
  },
  {
    "id": "c09469b0.03eed8",
    "type": "ui_group",
    "z": "",
    "name": "Analog",
    "tab": "ec165177.816",
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "5d7fdfeb.6f6a5",
    "type": "ui_tab",
    "z": "",
    "name": "LEDs",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "5c731c27.183504",
    "type": "mqtt-broker",
    "z": "",
    "name": "local MQTT",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "14ed5354.55018d",
    "type": "ui_tab",
    "z": "",
    "name": "Temperature Control",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "afcd632b.6bee5",
    "type": "ui_group",
    "z": "",
    "name": "Temperature",
    "tab": "14ed5354.55018d",
    "disp": false,
    "width": "12",
    "collapse": false
  },
  {
    "id": "b17ec920.87c668",
    "type": "ui_group",
    "z": "",
    "name": "Temperature",
    "tab": "ec165177.816",
    "disp": false,
    "width": "6",
    "collapse": false
  },
  {
    "id": "10a75e88.264b31",
    "type": "ui_group",
    "z": "",
    "name": "Humidity",
    "tab": "ec165177.816",
    "disp": false,
    "width": "6",
    "collapse": false
  },
  {
    "id": "e28d2f4c.da161",
    "type": "ui_group",
    "z": "",
    "name": "Humidity",
    "tab": "ec165177.816",
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "4702bbd2.e5a1e4",
    "type": "ui_group",
    "z": "",
    "name": "Humidity",
    "tab": "14ed5354.55018d",
    "disp": false,
    "width": "6",
    "collapse": false
  },
  {
    "id": "327f64ab.15570c",
    "type": "ui_group",
    "z": "",
    "name": "Light Control",
    "tab": "ec165177.816",
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "cf6ae3b0.72a9e",
    "type": "face-api-compute",
    "z": "",
    "name": "face-api-compute",
    "childHost": true,
    "recognitionType": "SSD",
    "multipleFaces": "Single Face",
    "confidence": "50",
    "inputSize": "416",
    "landmarks": false,
    "expressions": false,
    "ageGender": false,
    "recognition": true,
    "labelName": "known",
    "recognitionMetric": "Mean Squared Error",
    "recognitionConfidence": "",
    "file": ""
  },
  {
    "id": "2e7786c1.ecb74a",
    "type": "face-api-compute",
    "z": "",
    "name": "TBB Faces",
    "childHost": true,
    "recognitionType": "SSD",
    "multipleFaces": "Multiple Faces",
    "confidence": "50",
    "inputSize": "416",
    "landmarks": true,
    "expressions": true,
    "ageGender": true,
    "recognition": false,
    "labelName": "known",
    "file": ""
  },
  {
    "id": "724bfae.3b84404",
    "type": "face-api-compute",
    "z": "",
    "name": "TBB Faces",
    "childHost": true,
    "recognitionType": "SSD",
    "multipleFaces": "Multiple Faces",
    "confidence": "50",
    "inputSize": "416",
    "landmarks": true,
    "expressions": true,
    "ageGender": true,
    "recognition": false,
    "labelName": "known",
    "file": ""
  },
  {
    "id": "6595a9d.6227658",
    "type": "face-api-compute",
    "z": "",
    "name": "face-api-compute",
    "childHost": true,
    "recognitionType": "SSD",
    "multipleFaces": "Single Face",
    "confidence": "50",
    "inputSize": "416",
    "landmarks": false,
    "expressions": false,
    "ageGender": false,
    "recognition": true,
    "labelName": "known",
    "recognitionMetric": "Mean Squared Error",
    "recognitionConfidence": "",
    "file": ""
  },
  {
    "id": "9f21ee0a.10518",
    "type": "face-api-compute",
    "z": "",
    "name": "TBB Faces",
    "childHost": true,
    "recognitionType": "SSD",
    "multipleFaces": "Multiple Faces",
    "confidence": "50",
    "inputSize": "416",
    "landmarks": true,
    "expressions": true,
    "ageGender": true,
    "recognition": false,
    "labelName": "known",
    "file": ""
  },
  {
    "id": "1798688b.4217c7",
    "type": "ui_group",
    "z": "",
    "name": "Default",
    "tab": "5de8eb06.9eab94",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "5de8eb06.9eab94",
    "type": "ui_tab",
    "z": "a0a4ed6.82ae31",
    "name": "Home",
    "icon": "link",
    "order": 1
  },
  {
    "id": "eda83e67.f1db2",
    "type": "ui_group",
    "z": "",
    "name": "Default",
    "tab": "5ab95133.cb158",
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "5ab95133.cb158",
    "type": "ui_tab",
    "z": "",
    "name": "Start",
    "icon": "dashboard"
  },
  {
    "id": "d56284f2.fdcf98",
    "type": "face-api-compute",
    "z": "",
    "name": "TBB Faces",
    "childHost": true,
    "recognitionType": "SSD",
    "multipleFaces": "Multiple Faces",
    "confidence": "50",
    "inputSize": "416",
    "landmarks": true,
    "expressions": true,
    "ageGender": true,
    "recognition": false,
    "labelName": "known",
    "file": ""
  },
  {
    "id": "731f7861.bda288",
    "type": "mqtt out",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "topic": "cmnd/tasmota4683/POWER",
    "qos": "",
    "retain": "",
    "broker": "5c731c27.183504",
    "x": 1100,
    "y": 80,
    "wires": []
  },
  {
    "id": "987534bf.6d66d8",
    "type": "inject",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 460,
    "y": 80,
    "wires": [["658fc32a.f41a1c"]]
  },
  {
    "id": "658fc32a.f41a1c",
    "type": "function",
    "z": "a0a4ed6.82ae31",
    "name": "toggle",
    "func": "if(msg.payload){\n msg.payload = \"TOGGLE\"\n}\n    \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 768,
    "y": 100,
    "wires": [["731f7861.bda288", "b76c8284.45901"]]
  },
  {
    "id": "b76c8284.45901",
    "type": "debug",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 1050,
    "y": 140,
    "wires": []
  },
  {
    "id": "fe63781a.ab7be8",
    "type": "mqtt in",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "topic": "stat/tasmota4683/RESULT",
    "qos": "2",
    "datatype": "json",
    "broker": "5c731c27.183504",
    "x": 230,
    "y": 240,
    "wires": [["33bf2ce3.3c3fa4"]]
  },
  {
    "id": "33bf2ce3.3c3fa4",
    "type": "function",
    "z": "a0a4ed6.82ae31",
    "name": "toggle",
    "func": "\nif(msg.payload.POWER == \"ON\"){\n    msg.payload = 1\n} else {\n    msg.payload = 0\n}\n    \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 240,
    "wires": [["d5172f28.f0d3f", "54a2d759.209d78"]]
  },
  {
    "id": "d5172f28.f0d3f",
    "type": "debug",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 660,
    "y": 240,
    "wires": []
  },
  {
    "id": "df07c93d.8f0158",
    "type": "rpi-dht22",
    "z": "4c49bc2a.868a94",
    "name": "DHT11",
    "topic": "rpi-dht22",
    "dht": "11",
    "pintype": "0",
    "pin": "26",
    "x": 331,
    "y": 445,
    "wires": [["2f69905d.eda85", "3a734cdc.1b0aa4", "e0158bc8.36dbe8"]]
  },
  {
    "id": "2f69905d.eda85",
    "type": "function",
    "z": "4c49bc2a.868a94",
    "name": "temperature",
    "func": "msg.payload = msg.payload\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 531,
    "y": 385,
    "wires": [
      [
        "837e407f.f192d",
        "469940a1.41396",
        "cf9fe06d.2d8a2",
        "280b6784.fe7f68",
        "a2c71e63.2a1cc"
      ]
    ]
  },
  {
    "id": "837e407f.f192d",
    "type": "debug",
    "z": "4c49bc2a.868a94",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 791,
    "y": 425,
    "wires": []
  },
  {
    "id": "469940a1.41396",
    "type": "ui_chart",
    "z": "4c49bc2a.868a94",
    "name": "",
    "group": "afcd632b.6bee5",
    "order": 0,
    "width": "6",
    "height": "6",
    "label": "Temperature history",
    "chartType": "line",
    "legend": "true",
    "xformat": "auto",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "40",
    "removeOlder": "24",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#f35152",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 821,
    "y": 385,
    "wires": [[]]
  },
  {
    "id": "582324ca.bbf99c",
    "type": "inject",
    "z": "4c49bc2a.868a94",
    "name": "tempLoggingTrigger",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 140,
    "y": 445,
    "wires": [["df07c93d.8f0158"]]
  },
  {
    "id": "3a734cdc.1b0aa4",
    "type": "function",
    "z": "4c49bc2a.868a94",
    "name": "humidity",
    "func": "msg.payload = msg.humidity\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 521,
    "y": 505,
    "wires": [["52decbe2.1de184", "219e674d.b571b8", "c4e074a7.bec938"]]
  },
  {
    "id": "52decbe2.1de184",
    "type": "debug",
    "z": "4c49bc2a.868a94",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 791,
    "y": 545,
    "wires": []
  },
  {
    "id": "cf9fe06d.2d8a2",
    "type": "ui_gauge",
    "z": "4c49bc2a.868a94",
    "name": "",
    "group": "b17ec920.87c668",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperature",
    "label": "c",
    "format": "{{value}}",
    "min": 0,
    "max": "45",
    "colors": ["#2a0cf2", "#e6e600", "#f30505"],
    "seg1": "0",
    "seg2": "30",
    "x": 791,
    "y": 345,
    "wires": []
  },
  {
    "id": "219e674d.b571b8",
    "type": "ui_gauge",
    "z": "4c49bc2a.868a94",
    "name": "",
    "group": "10a75e88.264b31",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Humidity",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#2a0cf2", "#e6e600", "#f30505"],
    "seg1": "0",
    "seg2": "50",
    "x": 781,
    "y": 465,
    "wires": []
  },
  {
    "id": "c4e074a7.bec938",
    "type": "ui_chart",
    "z": "4c49bc2a.868a94",
    "name": "",
    "group": "4702bbd2.e5a1e4",
    "order": 0,
    "width": "6",
    "height": "6",
    "label": "Humidity history",
    "chartType": "line",
    "legend": "true",
    "xformat": "auto",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "24",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#f1790f",
      "#2ca02c",
      "#98df8a",
      "#f35152",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 801,
    "y": 505,
    "wires": [[]]
  },
  {
    "id": "90478561.33ea48",
    "type": "mqtt out",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "topic": "cmnd/tasmota1836/POWER",
    "qos": "",
    "retain": "",
    "broker": "5c731c27.183504",
    "x": 1108,
    "y": 320,
    "wires": []
  },
  {
    "id": "411052c9.90bc3c",
    "type": "inject",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 460,
    "y": 300,
    "wires": [["54118f0b.384ea"]]
  },
  {
    "id": "54118f0b.384ea",
    "type": "function",
    "z": "a0a4ed6.82ae31",
    "name": "toggle",
    "func": "if(msg.payload){\n msg.payload = \"TOGGLE\"\n}\n    \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 768,
    "y": 320,
    "wires": [["90478561.33ea48", "9331a50c.cdb308"]]
  },
  {
    "id": "9331a50c.cdb308",
    "type": "debug",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 1058,
    "y": 400,
    "wires": []
  },
  {
    "id": "2f0a93d1.26aa2c",
    "type": "mqtt in",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "topic": "stat/tasmota1836/RESULT",
    "qos": "2",
    "datatype": "json",
    "broker": "5c731c27.183504",
    "x": 230,
    "y": 460,
    "wires": [["b0ac6019.7d654"]]
  },
  {
    "id": "b0ac6019.7d654",
    "type": "function",
    "z": "a0a4ed6.82ae31",
    "name": "toggle",
    "func": "\nif(msg.payload.POWER == \"ON\"){\n    msg.payload = 1\n} else {\n    msg.payload = 0\n}\n    \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 460,
    "wires": [["1c79ef08.a22c71", "41c2cd38.58e484"]]
  },
  {
    "id": "1c79ef08.a22c71",
    "type": "debug",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 660,
    "y": 460,
    "wires": []
  },
  {
    "id": "99ab6244.1b28b",
    "type": "mqtt out",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "topic": "cmnd/tasmota3894/POWER",
    "qos": "",
    "retain": "",
    "broker": "5c731c27.183504",
    "x": 1108,
    "y": 540,
    "wires": []
  },
  {
    "id": "574f0e9d.40208",
    "type": "inject",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 460,
    "y": 520,
    "wires": [["4dc5995.6bc7f68"]]
  },
  {
    "id": "4dc5995.6bc7f68",
    "type": "function",
    "z": "a0a4ed6.82ae31",
    "name": "toggle",
    "func": "if(msg.payload){\n msg.payload = \"TOGGLE\"\n}\n    \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 768,
    "y": 540,
    "wires": [["99ab6244.1b28b", "576da00a.a64ff"]]
  },
  {
    "id": "576da00a.a64ff",
    "type": "debug",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 1058,
    "y": 620,
    "wires": []
  },
  {
    "id": "1e31bc9b.e2a7d3",
    "type": "mqtt in",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "topic": "stat/tasmota3894/RESULT",
    "qos": "2",
    "datatype": "json",
    "broker": "5c731c27.183504",
    "x": 250,
    "y": 680,
    "wires": [["f1ee3371.72286"]]
  },
  {
    "id": "f1ee3371.72286",
    "type": "function",
    "z": "a0a4ed6.82ae31",
    "name": "toggle",
    "func": "\nif(msg.payload.POWER == \"ON\"){\n    msg.payload = 1\n} else {\n    msg.payload = 0\n}\n    \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 680,
    "wires": [["388817af.775708", "272ef401.26e89c"]]
  },
  {
    "id": "388817af.775708",
    "type": "debug",
    "z": "a0a4ed6.82ae31",
    "name": "bedroom 3894 stat",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 700,
    "y": 680,
    "wires": []
  },
  {
    "id": "49640e2c.f2f79",
    "type": "ui_button",
    "z": "a0a4ed6.82ae31",
    "name": "Lounge Room",
    "group": "327f64ab.15570c",
    "order": 0,
    "width": "3",
    "height": "2",
    "passthru": false,
    "label": "Lounge Room",
    "tooltip": "",
    "color": "",
    "bgcolor": "{{background}}",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "x": 440,
    "y": 120,
    "wires": [["658fc32a.f41a1c"]]
  },
  {
    "id": "cacc5af4.ba4e38",
    "type": "ui_button",
    "z": "a0a4ed6.82ae31",
    "name": "Kitchen",
    "group": "327f64ab.15570c",
    "order": 0,
    "width": "3",
    "height": "2",
    "passthru": false,
    "label": "Kitchen",
    "tooltip": "",
    "color": "",
    "bgcolor": "{{background}}",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "x": 460,
    "y": 340,
    "wires": [["54118f0b.384ea"]]
  },
  {
    "id": "80e31243.11c4c",
    "type": "ui_button",
    "z": "a0a4ed6.82ae31",
    "name": "Bedroom",
    "group": "327f64ab.15570c",
    "order": 0,
    "width": "3",
    "height": "2",
    "passthru": false,
    "label": "Bedroom",
    "tooltip": "",
    "color": "",
    "bgcolor": "{{background}}",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 460,
    "y": 560,
    "wires": [["4dc5995.6bc7f68"]]
  },
  {
    "id": "e0158bc8.36dbe8",
    "type": "debug",
    "z": "4c49bc2a.868a94",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 531,
    "y": 565,
    "wires": []
  },
  {
    "id": "aa321045.cbff7",
    "type": "exec",
    "z": "4edc7ba8.c71394",
    "command": "/usr/bin/hcitool",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "10",
    "oldrc": false,
    "name": "bt presence",
    "x": 190,
    "y": 40,
    "wires": [["3b872ef6.18b7d2"], [], []]
  },
  {
    "id": "3b872ef6.18b7d2",
    "type": "function",
    "z": "4edc7ba8.c71394",
    "name": "btHome",
    "func": "msg.topic = \"btHome\"\nmsg.payload = msg.payload ? true : false;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 340,
    "y": 20,
    "wires": [["82cda185.32c49"]]
  },
  {
    "id": "60414de4.8835b4",
    "type": "inject",
    "z": "4edc7ba8.c71394",
    "name": "cellphone",
    "topic": "",
    "payload": "name 94:65:2d:29:fa:b2",
    "payloadType": "str",
    "repeat": "30",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 180,
    "wires": [["a0db0c61.1093a"]]
  },
  {
    "id": "b382ae61.5183d",
    "type": "camerapi-takephoto",
    "z": "219e15b3.5d2dfa",
    "filemode": "2",
    "filename": "",
    "filedefpath": "1",
    "filepath": "",
    "fileformat": "jpeg",
    "resolution": "7",
    "rotation": "0",
    "fliph": "0",
    "flipv": "0",
    "brightness": "50",
    "contrast": "0",
    "sharpness": "0",
    "quality": "80",
    "imageeffect": "none",
    "exposuremode": "auto",
    "iso": "0",
    "agcwait": "1.0",
    "led": "0",
    "awb": "auto",
    "name": "",
    "x": 580,
    "y": 120,
    "wires": [["17784779.86d079"]]
  },
  {
    "id": "ecca1f52.6296",
    "type": "inject",
    "z": "219e15b3.5d2dfa",
    "name": "Inject",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 370,
    "y": 100,
    "wires": [["b382ae61.5183d"]]
  },
  {
    "id": "18c9e938.8a4a17",
    "type": "debug",
    "z": "219e15b3.5d2dfa",
    "name": "msg camera fn",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 980,
    "y": 160,
    "wires": []
  },
  {
    "id": "17784779.86d079",
    "type": "function",
    "z": "219e15b3.5d2dfa",
    "name": "",
    "func": "var fs = global.get('fs');\nmsg.attachments = [{\n    filename: \"doorCamera.jpg\",\n    content: fs.readFileSync(msg.payload),\n}];\nmsg.topic= \"Door camera\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 770,
    "y": 120,
    "wires": [["ee8ab59d.c71718", "18c9e938.8a4a17"]]
  },
  {
    "id": "ee8ab59d.c71718",
    "type": "e-mail",
    "z": "219e15b3.5d2dfa",
    "server": "smtp.gmail.com",
    "port": "465",
    "secure": true,
    "tls": true,
    "name": "philippe.tome4@gmail.com",
    "dname": "",
    "x": 1020,
    "y": 80,
    "wires": []
  },
  {
    "id": "a0db0c61.1093a",
    "type": "arp",
    "z": "4edc7ba8.c71394",
    "name": "ARP",
    "macs": "",
    "x": 290,
    "y": 180,
    "wires": [["f874c0ad.19fc9"]]
  },
  {
    "id": "82cda185.32c49",
    "type": "join",
    "z": "4edc7ba8.c71394",
    "name": "",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": true,
    "timeout": "",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 470,
    "y": 20,
    "wires": [["365af098.3b14d"]]
  },
  {
    "id": "f874c0ad.19fc9",
    "type": "function",
    "z": "4edc7ba8.c71394",
    "name": "wifiHome",
    "func": "msg.topic = \"wifiHome\"\nfor(var i = 0; i < msg.payload.length; i++) {\n    if(msg.payload[i].mac == \"94:65:2d:29:fa:b3\") {\n        msg.home = true;\n        break;\n    } else {\n        msg.home = false;\n    }\n}\nreturn msg;\n\n\n// d8:ce:3a:89:74:89\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 180,
    "wires": [["c16d73c7.776bb", "2aac9296.4f1e9e"]]
  },
  {
    "id": "365af098.3b14d",
    "type": "function",
    "z": "4edc7ba8.c71394",
    "name": "Turn off lights",
    "func": "if(msg.payload.wifiHome == false && msg.payload.btHome == false) {\n    msg.payload = \"OFF\"\n    return msg;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 20,
    "wires": [[]]
  },
  {
    "id": "62cb50b2.fcc3c",
    "type": "rpi-srf",
    "z": "219e15b3.5d2dfa",
    "name": "Ultrasonic Sensor",
    "topic": "SRF",
    "pulse": "2",
    "pins": "35,33",
    "x": 130,
    "y": 140,
    "wires": [["54a69685.1d6578"]]
  },
  {
    "id": "7454cb69.45a0f4",
    "type": "debug",
    "z": "219e15b3.5d2dfa",
    "name": "msg SRF",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 560,
    "y": 160,
    "wires": []
  },
  {
    "id": "54a69685.1d6578",
    "type": "function",
    "z": "219e15b3.5d2dfa",
    "name": "less than 10cm",
    "func": "// msg.distance = 0;\nmsg.distance = parseInt(msg.payload);\nif(msg.distance < 10){\n    msg.payload = true;\n    return msg;\n}\n// } else {\n//     msg.payload = undefined;\n// }\n// return msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 340,
    "y": 140,
    "wires": [["b382ae61.5183d", "7454cb69.45a0f4"]]
  },
  {
    "id": "5ec23443.32819c",
    "type": "mqtt out",
    "z": "4edc7ba8.c71394",
    "name": "",
    "topic": "cmnd/tasmota4683/POWER",
    "qos": "",
    "retain": "",
    "broker": "5c731c27.183504",
    "x": 1100,
    "y": 120,
    "wires": []
  },
  {
    "id": "5c38efad.38e75",
    "type": "inject",
    "z": "4edc7ba8.c71394",
    "name": "",
    "topic": "",
    "payload": "OFF",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 810,
    "y": 100,
    "wires": [["5ec23443.32819c", "d12b97a7.d16ea8", "f3807cfd.33041"]]
  },
  {
    "id": "d12b97a7.d16ea8",
    "type": "mqtt out",
    "z": "4edc7ba8.c71394",
    "name": "",
    "topic": "cmnd/tasmota1836/POWER",
    "qos": "",
    "retain": "",
    "broker": "5c731c27.183504",
    "x": 1100,
    "y": 160,
    "wires": []
  },
  {
    "id": "f3807cfd.33041",
    "type": "mqtt out",
    "z": "4edc7ba8.c71394",
    "name": "",
    "topic": "cmnd/tasmota3894/POWER",
    "qos": "",
    "retain": "",
    "broker": "5c731c27.183504",
    "x": 1100,
    "y": 200,
    "wires": []
  },
  {
    "id": "5b043116.d06c6",
    "type": "mqtt out",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "topic": "cmnd/tasmota4683/POWER",
    "qos": "",
    "retain": "",
    "broker": "5c731c27.183504",
    "x": 380,
    "y": 800,
    "wires": []
  },
  {
    "id": "25491dc6.956952",
    "type": "inject",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "topic": "",
    "payload": "ON",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 800,
    "wires": [["5b043116.d06c6", "6e37ee21.87c3c", "cfe8df09.5c29b"]]
  },
  {
    "id": "6e37ee21.87c3c",
    "type": "mqtt out",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "topic": "cmnd/tasmota1836/POWER",
    "qos": "",
    "retain": "",
    "broker": "5c731c27.183504",
    "x": 380,
    "y": 840,
    "wires": []
  },
  {
    "id": "cfe8df09.5c29b",
    "type": "mqtt out",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "topic": "cmnd/tasmota3894/POWER",
    "qos": "",
    "retain": "",
    "broker": "5c731c27.183504",
    "x": 380,
    "y": 880,
    "wires": []
  },
  {
    "id": "53fdb3e4.f1a66c",
    "type": "mqtt out",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "topic": "cmnd/tasmota4683/POWER",
    "qos": "",
    "retain": "",
    "broker": "5c731c27.183504",
    "x": 900,
    "y": 800,
    "wires": []
  },
  {
    "id": "178f7318.1d144d",
    "type": "inject",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "topic": "",
    "payload": "OFF",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 630,
    "y": 800,
    "wires": [["53fdb3e4.f1a66c", "14753ca0.fb4793", "cbbb7590.b6bc38"]]
  },
  {
    "id": "14753ca0.fb4793",
    "type": "mqtt out",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "topic": "cmnd/tasmota1836/POWER",
    "qos": "",
    "retain": "",
    "broker": "5c731c27.183504",
    "x": 900,
    "y": 840,
    "wires": []
  },
  {
    "id": "cbbb7590.b6bc38",
    "type": "mqtt out",
    "z": "a0a4ed6.82ae31",
    "name": "",
    "topic": "cmnd/tasmota3894/POWER",
    "qos": "",
    "retain": "",
    "broker": "5c731c27.183504",
    "x": 900,
    "y": 880,
    "wires": []
  },
  {
    "id": "2aac9296.4f1e9e",
    "type": "function",
    "z": "4edc7ba8.c71394",
    "name": "Home?",
    "func": "msg.topic = \"homeFn\"\nmsg.payload = msg.home ? true : false;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 180,
    "wires": [
      [
        "d675ecb5.8cd84",
        "7ede77b4.162008",
        "bcfc2e33.ddf6a",
        "771c0019.9eb62",
        "6025995.c4a6868"
      ]
    ]
  },
  {
    "id": "513b7f2f.514",
    "type": "rpi-gpio out",
    "z": "4edc7ba8.c71394",
    "name": "Door locked",
    "pin": "32",
    "set": true,
    "level": "0",
    "freq": "",
    "out": "out",
    "x": 1030,
    "y": 280,
    "wires": []
  },
  {
    "id": "117b28a4.967ba7",
    "type": "rpi-gpio out",
    "z": "4edc7ba8.c71394",
    "name": "Door unlocked",
    "pin": "36",
    "set": true,
    "level": "0",
    "freq": "",
    "out": "out",
    "x": 1040,
    "y": 340,
    "wires": []
  },
  {
    "id": "c16d73c7.776bb",
    "type": "debug",
    "z": "4edc7ba8.c71394",
    "name": "msg wifiHome",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 580,
    "y": 300,
    "wires": []
  },
  {
    "id": "7ede77b4.162008",
    "type": "function",
    "z": "4edc7ba8.c71394",
    "name": "Open",
    "func": "msg.payload = msg.payload ? true : false;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 850,
    "y": 300,
    "wires": [["117b28a4.967ba7"]]
  },
  {
    "id": "d675ecb5.8cd84",
    "type": "function",
    "z": "4edc7ba8.c71394",
    "name": "Close",
    "func": "msg.payload = !msg.payload ? true : false;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 850,
    "y": 260,
    "wires": [["513b7f2f.514"]]
  },
  {
    "id": "bcfc2e33.ddf6a",
    "type": "function",
    "z": "4edc7ba8.c71394",
    "name": "Turn off lights",
    "func": "if(msg.payload == false){\n    msg.payload = \"OFF\"\n    return msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 840,
    "y": 180,
    "wires": [["5ec23443.32819c", "d12b97a7.d16ea8", "f3807cfd.33041"]]
  },
  {
    "id": "d3e25614.bd8018",
    "type": "function",
    "z": "4edc7ba8.c71394",
    "name": "Ultrasonic sensor",
    "func": "msg.topic = \"ultrasonicSensor\"\nmsg.distance = parseInt(msg.payload);\nif(msg.distance < 10){\n    msg.payload = true;\n    return msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 490,
    "y": 440,
    "wires": [["771c0019.9eb62"]]
  },
  {
    "id": "12d6059e.69a4ba",
    "type": "rpi-srf",
    "z": "4edc7ba8.c71394",
    "name": "Ultrasonic Sensor",
    "topic": "SRF",
    "pulse": "3",
    "pins": "35,33",
    "x": 270,
    "y": 440,
    "wires": [["d3e25614.bd8018"]]
  },
  {
    "id": "771c0019.9eb62",
    "type": "join",
    "z": "4edc7ba8.c71394",
    "name": "",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": true,
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 770,
    "y": 440,
    "wires": [["8104bb9d.774e68"]]
  },
  {
    "id": "8104bb9d.774e68",
    "type": "debug",
    "z": "4edc7ba8.c71394",
    "name": "msg join",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 940,
    "y": 440,
    "wires": []
  },
  {
    "id": "6025995.c4a6868",
    "type": "debug",
    "z": "4edc7ba8.c71394",
    "name": "msg home?",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 810,
    "y": 140,
    "wires": []
  },
  {
    "id": "280b6784.fe7f68",
    "type": "function",
    "z": "4c49bc2a.868a94",
    "name": "Heater Ctrl",
    "func": "msg.topic = \"heater\"\nif(msg.payload < 20){\n    msg.payload = true; \n    msg.heater = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 791,
    "y": 198,
    "wires": [["2c310a7.0cf05f6", "59fe0158.502c7", "ea09881b.724ff8"]]
  },
  {
    "id": "2c310a7.0cf05f6",
    "type": "debug",
    "z": "4c49bc2a.868a94",
    "name": "msg heater",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1050,
    "y": 145,
    "wires": []
  },
  {
    "id": "a2c71e63.2a1cc",
    "type": "function",
    "z": "4c49bc2a.868a94",
    "name": "Cooling Ctrl",
    "func": "msg.topic = \"cooler\"\nif(msg.payload > 22){\n    msg.payload = true; \n    msg.cooler = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 791,
    "y": 285,
    "wires": [["6a52ceba.af244", "f366ab05.6a1748", "ea09881b.724ff8"]]
  },
  {
    "id": "6a52ceba.af244",
    "type": "debug",
    "z": "4c49bc2a.868a94",
    "name": "msg cooler",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1050,
    "y": 385,
    "wires": []
  },
  {
    "id": "f366ab05.6a1748",
    "type": "rpi-gpio out",
    "z": "4c49bc2a.868a94",
    "name": "Blue LED",
    "pin": "29",
    "set": true,
    "level": "0",
    "freq": "",
    "out": "out",
    "x": 1040,
    "y": 338,
    "wires": []
  },
  {
    "id": "59fe0158.502c7",
    "type": "rpi-gpio out",
    "z": "4c49bc2a.868a94",
    "name": "Red LED",
    "pin": "31",
    "set": true,
    "level": "0",
    "freq": "",
    "out": "out",
    "x": 1040,
    "y": 185,
    "wires": []
  },
  {
    "id": "272ef401.26e89c",
    "type": "function",
    "z": "a0a4ed6.82ae31",
    "name": "Flip color GOLD/GRAY",
    "func": "if(msg.payload) {\n    msg.background = \"GOLD\";\n} else {\n    msg.background = \"GRAY\";\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 540,
    "y": 620,
    "wires": [["80e31243.11c4c"]]
  },
  {
    "id": "41c2cd38.58e484",
    "type": "function",
    "z": "a0a4ed6.82ae31",
    "name": "Flip color GOLD/GRAY",
    "func": "if(msg.payload) {\n    msg.background = \"GOLD\";\n} else {\n    msg.background = \"GRAY\";\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 540,
    "y": 400,
    "wires": [["cacc5af4.ba4e38"]]
  },
  {
    "id": "54a2d759.209d78",
    "type": "function",
    "z": "a0a4ed6.82ae31",
    "name": "Flip color GOLD/GRAY",
    "func": "if(msg.payload) {\n    msg.background = \"GOLD\";\n} else {\n    msg.background = \"GRAY\";\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 580,
    "y": 180,
    "wires": [["49640e2c.f2f79"]]
  },
  {
    "id": "131a0646.09c16a",
    "type": "ui_text",
    "z": "4c49bc2a.868a94",
    "group": "b17ec920.87c668",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "x": 1270,
    "y": 240,
    "wires": []
  },
  {
    "id": "ea09881b.724ff8",
    "type": "join",
    "z": "4c49bc2a.868a94",
    "name": "",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": true,
    "timeout": "",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 990,
    "y": 240,
    "wires": [["778666ae.b83728", "bc371cca.f236a"]]
  },
  {
    "id": "778666ae.b83728",
    "type": "debug",
    "z": "4c49bc2a.868a94",
    "name": "msg temp",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1160,
    "y": 280,
    "wires": []
  },
  {
    "id": "bc371cca.f236a",
    "type": "function",
    "z": "4c49bc2a.868a94",
    "name": "fn str",
    "func": "if(msg.payload.heater){\n    msg.payload = \"Heater ON\";\n} else if(msg.payload.cooler) {\n    msg.payload = \"Cooling ON\";\n} else {\n    msg.payload = \"OFF\";\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1150,
    "y": 240,
    "wires": [["131a0646.09c16a"]]
  }
]
